:root {
  --background-color: rgb(63, 58, 88);
  --nav-bg: rgb(90, 83, 126);
  --header: rgb(38, 32, 66);
  --trans-white: rgba(255, 255, 255, 0.648);
  --green: rgb(135, 153, 71);
  --light-green: rgb(202, 229, 106);
  --yellow: rgb(255, 230, 132);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  transform: translateY(100%);
  filter: blur(10px);
}

.show {
  transform: translateY(0);
  filter: blur(0);
  transition: all 0.7s ease-in-out;
}

.text-shadow {
  text-shadow: white 0px 0px 20px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--background-color);
}

.bg-darkblue {
  background-color: #1a3365;
}

/* Navbar */
.navbarv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--nav-bg);
  max-height: 5rem;
  /* border-bottom: 1px solid #513c28; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbarv .navbarv-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--yellow);
  text-decoration: none;
  text-shadow: 0px 0px 20px white;
}

.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.logo-wrap img {
  --size: 8rem;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  filter: drop-shadow(0px 0px 20px white);
}

.navbarv .navbarv-nav a {
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 20px white;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
  text-decoration: none;
}

.navbarv .navbarv-nav a:hover {
  color: var(--yellow);
  animation: nav-hover 0.5s linear;
}

@keyframes nav-hover {
  0% {
    color: white;
  }

  100% {
    color: var(--yellow);
  }
}

.navbarv .navbarv-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.2rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbarv .navbarv-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbarv .navbarv-extra a {
  color: black;
  margin: 0 0.5rem;
}

.navbarv .navbarv-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
  font-size: 4rem;
}

section.banner {
  --size: 100vw;
  position: relative;
  width: var(--size);
  height: calc(var(--size) / 1.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
  background-color: var(--background-color);
}

section.banner img {
  width: 100vw;
  height: calc(100vw / 1.6);
  background-color: gray;
}

section.banner .gradient-banner {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  height: 10rem;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    var(--background-color)
  );
}

/* About Section */
#about {
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about .container {
  color: white;
}
.heading {
  font-size: 2.5rem;
  color: white;
}

#about .container p {
  font-size: 1.5rem;
}

/* Activities Section */
#activities .container {
  max-width: 1200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.divider {
  width: 100vw;
  height: 2rem;
  background: linear-gradient(var(--background-color), rgb(224, 204, 175));
}

.divider.bottom {
  background: linear-gradient(rgb(224, 204, 175), var(--background-color));
  margin-bottom: 2rem;
}

.waves-2{
  background-color: var(--green);
}

.activities-card {
  background-color: skyblue;
  background-image: url(../static/assets/test-background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.genap {
  flex-direction: row-reverse;
}

div.list {
  --size: 10rem;
  background-color: var(--green);
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: white;
  border-radius: 2rem;
}

.list:hover {
  background-color: var(--light-green);
  animation: list-hover 0.5s linear;
  scale: 1.05;
}

@keyframes list-hover {
  0% {
    background-color: var(--green);
    scale: 1;
  }

  100% {
    background-color: var(--light-green);
    scale: 1.05;
  }
}

.activities-card .activities-description {
  background-color: var(--trans-white);
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
}

.text-desc {
  text-align: justify;
  padding: 0 5%;
}

/* Section General */
.section {
  padding: 50px 0;
  background-color: var(--background-color);
  text-align: center;
}
.section h2 {
  margin-bottom: 30px;
}
.waves-1 {
  margin-bottom: -25px;
  background-color: var(--background-color);
}

/* Gallery */
#gallery {
  background-color: var(--green);
  color: white;
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.gallery-item video {
  width: 100%;
  height: auto;
  display: block;
}
.gallery-item.landscape video {
  aspect-ratio: 16/9;
}
.gallery-item.portrait video {
  aspect-ratio: 9/16;
}
#gallery svg {
  margin-bottom: -100px;
}

video source {
  border: 0.5rem solid white;
}

/* Form */
.waves-3 {
  margin-bottom: -25px;
  background-color: var(--background-color);
}
#form {
  width: 100vw;
  color: white;
  background-color: var(--green);
  margin-top: 0;
}
#form .form-container {
  width: 80%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-shadow: 0px 0px 20px white;
}
#form .form-container p {
  margin-bottom: 50px;
}

#submit-btn {
  margin-top: 0.5rem;
  background-color: var(--header);
  color: white;
  border-radius: 10px;
  border: none;
  padding: 8px 22px;
  font-size: 18px;
  transition: 0.2s;
  text-shadow: 0px 0px 20px white;
  box-shadow: 0px 0px 20px white;
}
#submit-btn:hover {
  background-color: var(--nav-bg);
  color: var(--yellow);
}

/* Star fall */
#form {
  position: relative;
  z-index: 1; /* Memastikan elemen form berada di atas starfall */
}

.form-container {
  position: relative;
  z-index: 1; /* Memastikan form berada di atas starfall */
}

.starfall {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 0; /* Memastikan starfall berada di belakang elemen form */
}

@keyframes starfall {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}

.star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
  animation: starfall 3s linear infinite;
}

.star:nth-child(1) {
  top: 0px;
  right: 0;
  left: initial;
  animation-delay: 0;
  animation-duration: 1s;
}
.star:nth-child(2) {
  top: 0px;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}
.star:nth-child(3) {
  top: 80px;
  right: 0;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}
.star:nth-child(4) {
  top: 0px;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}
.star:nth-child(5) {
  top: 0px;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}
.star:nth-child(6) {
  top: 0px;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}
.star:nth-child(7) {
  top: 300px;
  right: 0;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}
.star:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}
.star:nth-child(9) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}
.star:nth-child(10) {
  top: 0px;
  right: 450px;
  left: initial;
  animation-delay: 2.75s;
  animation-duration: 2.25s;
}

/* Event Information */

#information {
  display: flex;
  align-items: center;
  min-height: 450px;
  background-color: var(--nav-bg);
  color: white;
}
#information .event-credit,
#information .location,
#information .contact-person {
  margin: 0 150px;
}

#information .location {
  cursor: pointer;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: 0.2s;
}

#information i {
  text-shadow: 0 0 1rem white;
}

#information .location i {
  font-size: 35px;
}

#information .location:hover {
  color: var(--header);
  text-shadow: 0 0 1rem var(--header);
}

#information .contact-person {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

#information .contact-person div {
  cursor: pointer;
  font-size: 19px;
  margin: 5px 0;
  transition: 0.2s;
}
#information .contact-person div:hover {
  color: var(--header);
  text-shadow: 0 0 1rem var(--header);
}

/* Footer */
footer {
  background-color: var(--header);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Mobile Vers */

@media (max-width: 1200px) {
  html {
    font-size: 75.5%;
  }

  section.banner{

    margin-top: 60px;
  }

  div.list {
    --size: 6.5rem;
  }
  .activities-card {
    flex-direction: column;
    gap: 2rem;
  }

  .activities-card .activities-description {
    width: 85vw;
    height: 40vh;
  }

  .text-desc {
    text-align: justify;
    padding: 0 10%;
  }

  .waves-3 {
    margin-bottom: -60px;
  }

  #information {
    flex-direction: column;
    align-items: center;
    min-height: auto;
  }

  #information .event-credit,
  #information .location,
  #information .contact-person {
    margin: 10px;
    text-align: center;
  }

  #information .contact-person {
    display: flex;
    flex-direction: row;
    min-width: auto;
  }

  #information .contact-person i {
    font-size: 12px;
  }

  #information .contact-person div {
    margin: 0 5px;
  }
}

@media (max-width: 820px) {
  html {
    font-size: 62.5%;
  }
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  #hamburger-menu {
    display: inline-block;
    color: var(--yellow);
    text-shadow: 0px 0px 20px white;
    font-size: 3rem;
  }

  .logo-wrap a.navbarv-logo {
    font-size: 1.3rem;
    text-align: center;
  }

  .logo-wrap img {
    --size: 3.5rem;
  }

  .navbarv .navbarv-nav {
    position: absolute;
    top: 100%;
    right: -150%;
    background-color: var(--yellow);
    border: 1px solid black;
    border-radius: 0.5rem;
    width: 15rem;
    height: 100vh;
    transition: 0.3s;
    box-shadow: 0px 0px 20px white;
  }

  .navbarv .navbarv-nav.active {
    right: 0;
  }

  .navbarv .navbarv-nav a {
    color: var(--background-color);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navbarv .navbarv-nav a:hover {
    color: var(--background-color);
  }

  .navbarv .navbarv-nav a::after {
    transform-origin: 0 0;
  }

  .navbarv .navbarv-nav a:hover::after {
    transform: scaleX(0.2);
  }

  section.banner{
    margin-top: 50px;
  }
}

@media (max-width: 590px){
  #information .contact-person div{
    font-size: 1rem;
  }

  .waves-3, .waves-1{
    margin-bottom: 0px;
  }

  .waves-2{
    background-color: var(--green);
  }
}

