<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Asteria | Magang Kelompok 6</title>

    <link rel="stylesheet" href="../static/homepage.css" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- BOOTSTRAP ICON -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <!-- BOX ICON -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../static/assets/favicon_logo.png"
      type="image/x-icon"
    />
    <!-- Type Js -->
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="../static/home.js"></script>
  </head>
  <body id="home">
    <!-- <div class="intro" id="splash">
      <div class="logo-header" id="splash">
          <img class="logo" id="splash" src="../static/assets/favicon_logo.png" alt="Logo Asteration">
      </div>
    </div> -->
    <nav class="navbarv shadow">
      <div class="logo-wrap">
        <img src="../static/assets/kelompok-6-logo.png" alt="" />
        <a href="#" class="navbarv-logo">STARGAZERS</a>
      </div>

      <div class="navbarv-nav">
        <a href="#">Home</a>
        <a href="index.html">Event</a>
        <a href="about.html">About Us</a>
        <div class="lang-container">
          <div id="lang" class="language">
            <a class="lang-opt" href="#">ID</a>
          </div>
          <div id="langOpt">
            <a class="lang-opt" href="#">ENG</a>
            <a class="lang-opt" href="#">JP</a>
          </div>
        </div>
      </div>

      <div class="navbarv-extra">
        <a href="#" id="hamburger-menu"><i class="bi bi-list"></i></a>
      </div>
    </nav>

      <div class="navbarv-extra">
        <a href="#" id="hamburger-menu"><i class="bi bi-list"></i></a>
      </div>
    </nav>

    <!-- Banner -->
    <section class="preview">
      <a href="../templates/index.html">
        <div class="banner-about"></div>
      </a>
    </section>

    <!-- About Section -->
    <section id="about" class="section">
      <div class="container">
        <div class="description">
          <h2 id="about-head" class="heading hidden text-shadow">Tentang STARGAZERS</h2>
          <p id="stargazer-desc" class="hidden text-shadow">
            (Pengamat Bintang) merupakan nama Kelompok 6 magang osis 2024.
            STARGAZERS menggambarkan kelompok 6 sebagai team yang akan melewati
            kesusahan tantangan dan memiliki semangat juang untuk bekerja dengan
            tekun yang tinggi sambil mengamat bintang bintang untuk mencari
            arahan di masa ini.
          </p>
        </div>
        <img
          src="../static/assets/kelompok-6-logo.png"
          alt=""
          class="about-logo"
        />
      </div>

      <!-- Waves 1 -->
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <defs>
          <filter id="waveShadow" x="-50%" y="-50%" width="200%" height="200%">
            <feGaussianBlur in="SourceAlpha" stdDeviation="10" result="blur" />
            <feOffset in="blur" dx="0" dy="0" result="offsetBlur" />
            <feFlood flood-color="white" flood-opacity="1" result="color" />
            <feComposite in2="offsetBlur" operator="in" result="shadow" />
            <feMerge>
              <feMergeNode in="shadow" />
              <feMergeNode in="SourceGraphic" />
            </feMerge>
          </filter>
        </defs>
        <path
          filter="url(#waveShadow)"
          fill="rgb(131, 171, 82)"
          fill-opacity="1"
          d="M0,160L30,138.7C60,117,120,75,180,101.3C240,128,300,224,360,218.7C420,213,480,107,540,101.3C600,96,660,192,720,213.3C780,235,840,181,900,154.7C960,128,1020,128,1080,149.3C1140,171,1200,213,1260,224C1320,235,1380,213,1410,202.7L1440,192L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"
        ></path>
      </svg>

      <div class="reverse-wrap">
        <div class="container reverse">
          <div class="description">
            <h2 class="heading hidden text-shadow">STARGAZERS Mascot</h2>
            <p id="mascott-desc" class="hidden text-shadow">
              Astrotter adalah maskot Stargazers yang berupa berang-berang,
              hewan yang dikenal sangat dekat dengan alam, terutama di perairan
              seperti sungai dan danau. Kehadiran berang-berang ini sering kali
              menjadi bagian dari pengalaman berkemah, yang mencerminkan
              kedekatan dengan alam yang diinginkan dalam kegiatan camping night
              tersebut.
            </p>
          </div>
          <img
            src="../static/assets/Astrotter.png
          "
            alt=""
            class="about-logo"
          />
        </div>
      </div>

      <!-- Waves-2 -->

      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
        class="waves-2"
      >
        <defs>
          <filter id="waveShadow" x="-50%" y="-50%" width="200%" height="200%">
            <feGaussianBlur in="SourceAlpha" stdDeviation="10" result="blur" />
            <feOffset in="blur" dx="0" dy="0" result="offsetBlur" />
            <feFlood flood-color="white" flood-opacity="1" result="color" />
            <feComposite in2="offsetBlur" operator="in" result="shadow" />
            <feMerge>
              <feMergeNode in="shadow" />
              <feMergeNode in="SourceGraphic" />
            </feMerge>
          </filter>
        </defs>

        <path
          filter="url(#waveShadow)"
          fill="rgb(223, 199, 91)"
          fill-opacity="1"
          d="M0,128L34.3,149.3C68.6,171,137,213,206,208C274.3,203,343,149,411,144C480,139,549,181,617,208C685.7,235,754,245,823,234.7C891.4,224,960,192,1029,160C1097.1,128,1166,96,1234,90.7C1302.9,85,1371,107,1406,117.3L1440,128L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"
        ></path>
      </svg>

      <div class="about-wrap">
        <h2 class="heading text-shadow">More About Stargazers</h2>
        <a href="./about.html">
          <div class="about-banner"></div>
        </a>
      </div>

      <!-- Waves 3 -->
      <svg
        class="waves-3"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
      >
        <defs>
          <filter id="waveShadow" x="-50%" y="-50%" width="200%" height="200%">
            <feGaussianBlur in="SourceAlpha" stdDeviation="10" result="blur" />
            <feOffset in="blur" dx="0" dy="0" result="offsetBlur" />
            <feFlood flood-color="white" flood-opacity="1" result="color" />
            <feComposite in2="offsetBlur" operator="in" result="shadow" />
            <feMerge>
              <feMergeNode in="shadow" />
              <feMergeNode in="SourceGraphic" />
            </feMerge>
          </filter>
        </defs>

        <path
          filter="url(#waveShadow)"
          fill="rgb(63, 102, 155)"
          fill-opacity="1"
          d="M0,64L60,101.3C120,139,240,213,360,240C480,267,600,245,720,240C840,235,960,245,1080,208C1200,171,1320,85,1380,42.7L1440,0L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
        ></path>
      </svg>
    </section>

    <!-- Event Information -->
    <section id="information">
      <div class="event-credit">
        <div class="img-footer"></div>
        <h1>Stargazers</h1>
      </div>
      <a
        href="https://www.google.com/maps/place/Ignatius+Global+School/@-2.9710393,104.7589212,17z/data=!3m1!4b1!4m5!3m4!1s0x2e3b77abf5ea07a9:0x753dfe8d5c2ff65d!8m2!3d-2.9710361!4d104.761108?hl=id&shorturl=1"
        class="location"
        target="_blank"
      >
        <i class="bi bi-geo-alt-fill"></i>
        <p>
          Jl. Mayor Ruslan No.118, 9 Ilir, Kec. Ilir Tim. I, Kota Palembang,
          Sumatera Selatan 30114
        </p>
      </a>
      <div class="contact-person">
        <a href="#" target="_blank" class="sosmed instagram">
          <i class="bi bi-instagram"></i> Instagram
        </a>
        <a href="#" target="_blank" class="sosmed twitter"
          ><i class="bi bi-twitter"></i> Twitter</a
        >
        <a href="#" target="_blank" class="sosmed tiktok"
          ><i class="bi bi-tiktok"></i> Tiktok</a
        >
        <a href="#" target="_blank" class="sosmed line"
          ><i class="bi bi-line"></i> Line</a
        >
        <a href="#" target="_blank" class="sosmed youtube"
          ><i class="bi bi-youtube"></i> Youtube</a
        >
        <a href="#" target="_blank" class="sosmed email">
          <i class="bi bi-envelope-fill"></i> Email
        </a>
      </div>
    </section>

    <!-- ChatBox -->
    <img
      onclick="showMascot()"
      id="chat-mascott"
      src="../static/assets/palak_otter-removebg-preview.png"
      alt=""
    />
    <div class="chat-box" id="chatBox"></div>

    <!-- Footer -->
    <footer>
      Copyright &copy; 2024 Seksi Multimedia Website Kelompok 6 Magang OSIS SMA IGS 
    </footer>

    <!-- Bootstrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
